<h1>Change your account password</h1>
<form role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.current_password, 'Current password') }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.new.first, 'New password') }}
        {{ form_errors(form.new.first) }}
        {{ form_widget(form.new.first) }}
    </div>

    <div class="form-group">
        {{ form_label(form.new.second, 'Confirm new password') }}
        {{ form_errors(form.new.second) }}
        {{ form_widget(form.new.second) }}
    </div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary btn-lg btn-block">Change password</button>
</form>

