{% extends '::symfony.html.twig' %}

{% block body %}
<h1>Import</h1>
{% if status is defined %}
    <div class="alert alert-info">
        Import {{status.parsed}} feeds
    </div>
    {% if status.errors|length %}
        <div class="alert alert-danger">
            {% for error in status.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
<form role="form" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.attachment, 'OPML file') }}
        {{ form_errors(form.attachment) }}
        {{ form_widget(form.attachment) }}
    </div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
{% endblock %}
