{% extends '::base.html.twig' %}

{% block body %}
{% verbatim %}
<div id="feederate" ng-app="feederate" ng-controller="BoardCtrl">
    <div id="feeds">
        <div class="feeds-toolbar">
            <input ng-enter="addFeed()" ng-model="newFeedUrl" type="text" class="subscribtion" placeholder="Adding a new feed here..">
        </div>
        <div class="feeds-content">
            <ul class="nav">
                <li ng-class="{active:isActiveFeed(unread)}" id="unread_feed">
                    <a href="#summaries" ng-click="loadSummaries(unread)">
                        Unread
                        <span class="bullet bullet-unread pull-right" ng-show="unread.unread_count">{{ unread.unread_count }}</span>
                    </a>
                </li>
                <li ng-class="{active:isActiveFeed(starred)}" id="starred_feed">
                    <a href="#summaries" ng-click="loadSummaries(starred)">
                        Starred
                        <span class="bullet bullet-unread pull-right" ng-show="starred.unread_count">{{ starred.unread_count }}</span>
                    </a>
                </li>
                <li ng-repeat="feed in feeds | objectToArray | orderBy:'title'" ng-class="{active:isActiveFeed(feed)}" id="feed_{{ feed.id }}">
                    <a href="#summaries" ng-click="loadSummaries(feed)">
                        {{ feed.title }}
                        <span class="bullet bullet-unread pull-right" ng-show="feed.unread_count">{{ feed.unread_count }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="feeds-footer">
            <button type="button" class="btn btn-default btn-sm" ng-click="deleteFeed(activeFeed)" ng-disabled="isActiveFeed(unread) || isActiveFeed(starred)" title="Delete feed {{ activeFeed.title }}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="markFeedAsRead(activeFeed)" ng-disabled="!activeFeed.unread_count" title="Mark {{ activeFeed.title }} as read">
                <span class="glyphicon glyphicon-ok-circle"></span> Mark as read
            </button>
        </div>
    </div>
    <div id="summaries">
        <div class="summaries-content" infinite-scroll="loadSummaries(activeFeed, false)" infinite-scroll-distance="1" infinite-scroll-disabled="summaryLoadIsBusy()" infinite-scroll-immediate-check="false">
            <div>
                <div ng-repeat="day in summariesDays" ng-class="{day: isUnreadFeed(activeFeed)}">
                    <div ng-show="isUnreadFeed(activeFeed)" class="day-group">{{ day | formatDate:'short' }}</div>
                    <ul class="nav">
                        <li ng-repeat="summary in summaries[day]" ng-class="{active:isActiveSummary(summary),read: summary.is_read}">
                            <a href="#entry" ng-click="loadEntry(summary); markAsRead(summary, true);">
                                <span ng-show="summary.is_starred" class="label label-primary">starred</span>
                                <div class="metadata">
                                    <div>{{ feeds[summary.feed_id].title }}</div><div class="date" title="{{ summary.generated_at | formatDate:'YYYY-MM-DD h:mm A' }}">{{ summary.generated_at | formatDate:'short' }}</div>
                                </div>
                                <h4>{{ summary.title }}</h4>
                                <p ng-bind-html="summary.description | characters:100"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show='summariesAreLoading'>Loading data...</div>
        </div>
    </div>
    <div id="entry" ng-show="activeSummary">
        <div class="entry-toolbar">
            <a target="_blank" href="{{ feeds[activeSummary.feed_id].target_url }}">{{ feeds[activeSummary.feed_id].title }}</a>
            <span class="pull-right">
                <a class="glyphicon" title="mark as read/unread" ng-click="markAsRead(activeSummary)" ng-class="{'glyphicon glyphicon-ok-sign': !activeSummary.is_read, 'glyphicon glyphicon-ok-circle': activeSummary.is_read}"></a>
                <a class="glyphicon" title="star/unstar" ng-click="markAsStarred(activeSummary)" ng-class="{'glyphicon-star-empty': !activeSummary.is_starred, 'glyphicon-star': activeSummary.is_starred}"></a>
            </span>
        </div>
        <div class="entry-content">
            <div class="container">
                <h2><a target="_blank" href="{{ entry.target_url }}">{{ entry.title }}</a></h2>
                <div class="date">{{ entry.generated_at | formatDate:'MMMM D, YYYY' }} at {{ entry.generated_at | formatDate:'h:mm A' }}</div>
                <div ng-bind-html="entry.content"></div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}
