{% extends '::angular.html.twig' %}

{% block body %}
{% verbatim %}
<div id="feederate">
    <div id="feeds">
        <div class="feeds-toolbar">
            <input ng-enter="addFeed()" ng-model="newFeedUrl" type="text" class="subscribtion" placeholder="Adding a new feed here.." ng-class="{processing: Feeds.arePosting}">
        </div>
        <div class="feeds-content">
            <div class="alert alert-danger alert-dismissable" ng-show="Feeds.error">
                <button type="button" class="close" ng-click="Feeds.error = null">&times;</button>
                {{ Feeds.error }}
            </div>
            <ul class="nav">
                <li ng-class="{active:Feeds.isActive(Feeds.unread)}" id="feed_unread">
                    <a href="#summaries" ng-click="loadSummaries(Feeds.unread)">
                        <span class="bullet bullet-unread pull-right" ng-show="Feeds.unread.unread_count">{{ Feeds.unread.unread_count }}</span>
                        <span class="title">Unread</span>
                    </a>
                </li>
                <li ng-class="{active:Feeds.isActive(Feeds.starred)}" id="feed_starred">
                    <a href="#summaries" ng-click="loadSummaries(Feeds.starred)">
                        <span class="bullet bullet-unread pull-right" ng-show="Feeds.starred.unread_count">{{ Feeds.starred.unread_count }}</span>
                        <span class="title">Starred</span>
                    </a>
                </li>
                <li ng-repeat="feed in getShownFeeds() | objectToArray | orderBy:'title'" ng-class="{active:Feeds.isActive(feed)}" id="feed_{{ feed.id }}">
                    <a href="#summaries" ng-click="loadSummaries(feed)">
                        <span class="bullet bullet-unread pull-right" ng-show="feed.unread_count">{{ feed.unread_count }}</span>
                        <span class="title">{{ feed.title }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="column-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="refreshFeedsAndEntries()" title="Refresh feeds">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="toggleReadFeeds()" title="{{ user.is_read_feeds_hidden ? 'Show' : 'Hide' }} read feeds">
                    <span class="glyphicon glyphicon-{{ user.is_read_feeds_hidden ? 'open' : 'save' }}"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="summaries">
        <div ng-show='Entries.areLoading' class="loader"></div>
        <div class="summaries-content" infinite-scroll="loadSummaries(Feeds.active)" infinite-scroll-distance="1" infinite-scroll-disabled="Entries.loadIsBusy() && oneColumn" infinite-scroll-immediate-check="false">
            <div>
                <div ng-repeat="day in Entries.daysList" ng-class="{day: Feeds.isUnread(Feeds.active)}">
                    <div ng-show="Feeds.isUnread(Feeds.active)" class="day-group">{{ day | formatDate:'short' }}</div>
                    <ul class="nav">
                        <li ng-repeat="summary in Entries.summariesList[day]" ng-class="{active:Entries.isActiveSummary(summary),read: summary.is_read}">
                            <a href="#entry" ng-click="loadEntry(summary); markAsRead(summary);">
                                <span ng-show="summary.is_starred" class="label label-primary">starred</span>
                                <div class="metadata">
                                    <span class="date pull-right" title="{{ summary.generated_at | formatDate:'YYYY-MM-DD h:mm A' }}">{{ summary.generated_at | formatDate:'short' }}</span>
                                    <span class="title">{{ Feeds.list[summary.feed_id].title }}</span>
                                </div>
                                <h4>{{ summary.title }}</h4>
                                <p ng-bind-html="summary.description | characters:100"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="markFeedAsRead(Feeds.active)" ng-disabled="!Feeds.active.unread_count" title="Mark {{ Feeds.active.title }} as read">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="deleteFeed(Feeds.active)" ng-disabled="Feeds.isActive(Feeds.unread) || Feeds.isActive(Feeds.starred)" title="Delete feed {{ Feeds.active.title }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="entry" ng-show="Entries.activeEntry">
        <div class="entry-toolbar">
            <span class="pull-right">
                <a class="glyphicon" title="{{ Entries.activeSummary.is_read ? 'Mark as unread' : 'Mark as read' }}" ng-click="markAsRead(Entries.activeSummary, true)" ng-class="{'glyphicon glyphicon-ok-sign': !Entries.activeSummary.is_read, 'glyphicon glyphicon-ok-circle': Entries.activeSummary.is_read}"></a>
                <a class="glyphicon" title="{{ Entries.activeSummary.is_starred ? 'Unstar' : 'Star' }}" ng-click="markAsStarred(Entries.activeSummary)" ng-class="{'glyphicon-star-empty': !Entries.activeSummary.is_starred, 'glyphicon-star': Entries.activeSummary.is_starred}"></a>
            </span>
            <a target="_blank" href="{{ Feeds.list[Entries.activeSummary.feed_id].target_url }}">{{ Feeds.list[Entries.activeSummary.feed_id].title }}</a>
        </div>
        <div class="entry-content">
            <div class="container">
                <h2><a target="_blank" href="{{ Entries.activeEntry.target_url ? Entries.activeEntry.target_url : Feeds.list[Entries.activeSummary.feed_id].target_url }}">{{ Entries.activeEntry.title }}</a></h2>
                <div class="date">{{ Entries.activeEntry.generated_at | formatDate:'MMMM D, YYYY' }} at {{ Entries.activeEntry.generated_at | formatDate:'h:mm A' }}</div>
                <div entry-content-bind="Entries.activeEntry.content"></div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}
