{% extends '::symfony.html.twig' %}

{% block body %}
<form role="form" class="form-signin" action="{{ path('feederate_feederate_front_feedback') }}" method="post" {{ form_enctype(form) }}>
    <h2>Feedback</h2>
    {{ form_errors(form) }}

    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'My message for Feederate development team'}}) }}

    {{ form_rest(form) }}

    <p>Feedback will be sent as <strong>{{ user.email }}</strong>. We will use this address to send you a reply.</p>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Send feedback</button>
</form>
{% endblock %}